@import "../base/mixins";
@import "../base/color";

.porteur {
  position: relative;
  @include dimension(100vw, 90vh);
  overflow: hidden;

  .animation{
    transition: ease-out .6s;
  }

  .slide {
    @include dimension(100%, 100%);
    @include fixed(0, 0, 0);
    overflow: hidden;

    .fond {
      @include fixed(0, 0);
      @include dimension(100%, 100%);
      background-color: $secondary-color;
      opacity: 0.8;
    }
  }

  form {
    background-color: $background-color;
    .div {
      background-color: $white-color;
      @include dimension(100%, auto);
      border-radius: 6px;
      margin-bottom: 8px;
    }

    .input {
      padding: 0.5em 1em;
    }
  }
}
