@import "../base/color";
@import "../base/mixins";

.parent {
    @include dimension (100%, 105vh);
    .fotsy {
        background-color: $white-color;
        @include dimension(20vw, 80vh);

        .points {
            color: $black-color;
            margin-bottom: -.8em;
        }
    }

    .galeries {
        @include absolute(0, 0);
        @include dimension(100%, 100%);
        .slide {
            @include dimension(45vw, 45vw);
            position: relative;
        }
        .monContaint {
            margin-left: -2em;
            .description {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .simple {
                @include dimension(20em, 14em);
                background-color: $white-color;
                padding: 2em;
                cursor: pointer;

                .organisations {
                    @include dimension(100%, 9em);
                    overflow-x: auto;
                }
            }

            .modal {
                @include dimension(100%, 100%);
                @include absolute(0, 0);
                background-color: $white-color;
                padding: 2em;
                border-bottom: 4px solid $primary-color;
                cursor: text;
            }
        }
    }
}