@import "../base/color";
@import "../base/mixins";

section {
    .fotsy {
        background-color: $white-color;
        @include dimension(25vw, 105vh);

        .points {
            color: $black-color;
            margin-bottom: -.8em;
        }
    }

    .galeries {
        @include absolute(0, 0);
        @include dimension(100%, 100%);

        img, .img {
            @include dimension(90vh, 90vh)
        }

        .monContaint {
            margin-left: -2em;

            .description {
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 5;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .simple {
                @include dimension(20em, 14em);
                background-color: $white-color;
                padding: 2em;

                .organisations {
                    @include dimension(100%, 9em);
                    overflow-x: auto;
                }
            }

            .modal {
                @include dimension(100%, 100%);
                @include absolute(0, 0);
                background-color: $white-color;
                padding: 2em;
                border-bottom: 4px solid $primary-color;
            }
        }

    }
}