@import '../base/mixins';
@import '../base/color';


section {
    .tsingy {
        bottom: -2em;
        right: -2em;
    }

    .pneu {
        position: absolute;
        bottom: 5em;
        right: -3em;
        border: .6em solid $primary-color;
        border-radius: 50%;
    }

    .image {
        @include dimension(35vw ,auto)
    }

    .slide {
        @include dimension(40vw, auto)
    }
}