@import '../base/mixins';
@import '../base/color';


section {
    .tsingy {
        bottom: -2em;
        right: -2em;
    }

    .pneu {
        position: absolute;
        bottom: 5em;
        right: -5em;
        border: .6em solid $primary-color;
        border-radius: 50%;
    }
}